
.restart-screens-all > img {
  max-width: 100%;
  height: auto;
  width: 100%;
  }

.restart-screens > img {
  max-width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  height: auto;
  width: 100%;
  }

img.restart-lone{
  max-width:50%;
  max-height: auto;
}
