body {
	text-align: center;
	color: #690000;
	background-color: #bfb7b7;
	border-style: dotted;
	border-top-color: #dd2a2a;
	border-right-color: #dd762a;
	border-bottom-color: #ddc22a;
	border-left-color: #dd762a;
	padding: 100px;
	padding-top: 50px;
	line-height: 25px;
	font-family: 'PT Sans Narrow', sans-serif;
}

.navlinks {
    list-style-type: none;
    margin: 0;
    padding-bottom: 50px;
    overflow: hidden;  

}

.navlinks li {
	display: inline-block;
	letter-spacing: 3px;

}

a:link, a:visited {
    display: block;
    width: 175px;
    font-weight: bold;
    font-family: 'Bangers', sans-serif;
	color: #ddc22a;
    background-color: #690000;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 10px;

}

a:hover, a:active {
    background-color: #9d7272;
}

h1 {
	color: black;
	font-weight: bold;
	font-size: 60px;
	font-family: 'Marck Script', cursive;

}

.about-me {
	color: #9d7272;
	font-family: 'Bangers', sans-serif;
	letter-spacing: 5px;
	font-size: 18pt;

}

h3 {
	padding:50px;
	font-family: 'Marck Script', cursive;
	font-size: 16pt;

}

#tagline {
	color: #9d7272;
	font-family: 'Bangers', sans-serif;
	letter-spacing: 5px;
}

h4 {
	color: #9d7272;
}

#maintext {
	text-align: justify;
	font-size: 16pt;
	line-height: 18pt;
}

#tiger {
	font-family: 'Bangers', sans-serif;
	letter-spacing: 3px;
	font-size: 15pt
}

.fixed {
	position: fixed;
  bottom: 0;
  right: 0;
  width: 400px;
  height: auto;
  z-index: -1;

}

#logo {
	width: 400px;
	height: auto;
	z-index: -1;
	opacity: 0.2;

}




