body {
	text-align: center;
	color: #690000;
	background-color: #bfb7b7;
	border-style: dotted;
	border-top-color: #dd2a2a;
	border-right-color: #dd762a;
	border-bottom-color: #ddc22a;
	border-left-color: #dd762a;
	padding: 100px;
	padding-top: 50px;
	line-height: 25px;
	font-family: 'PT Sans Caption', sans-serif;
}

.navlinks {
    list-style-type: none;
    margin: 0;
    padding-bottom: 50px;
    overflow: hidden;  

}

.navlinks li {
	display: inline-block;
	letter-spacing: 3px;

}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    font-family: 'Bangers', sans-serif;
	color: #ddc22a;
    background-color: #690000;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;

}

a:hover, a:active {
    background-color: #9d7272;
}

h1 {
	color: black;
	font-weight: bold;
	font-size: 60px;
	font-family: 'Marck Script', cursive;

}

h3 {
	padding:50px;
	font-family: 'Marck Script', cursive;

}

#tagline {
	color: #9d7272;
	font-family: 'Bangers', sans-serif;
	letter-spacing: 5px;
}

h4 {
	color: #9d7272;
}

#maintext {
	text-align: justify;
}

p {
	font-family: 'PT Sans Caption', sans-serif;
}




